<div class="personal-center">
  <!-- 个人信息、头部 -->
  <div class="pc-head">
    <div class="pch-page">
      <a href="lzxpersonalData.html" class="pchp-img">
        <img src="./front/images/icon/xtouxiang.png" alt="">
      </a>
      <div class="pchp-txt">
        <p class="pchp-name">
          <i class="pchp-djicon"></i>
          <span>13510615070</span>
        </p>
        <p class="pchp-rz">认证企业：</p>
        <p class="pchp-rz">湖南白银贸易有限公司</p>
      </div>
    </div>
    <div class="pch-linkbox">
      <a href="javascript:;;">
        <i class="nav-kefu"></i>
      </a>
      <a href="lzxsetUp.html">
          <i class="nav-state"></i>
      </a>
      <a href="javascript:;;">
          <i class="nav-msg"></i>
          <span class="shuliang">99</span>
      </a>
    </div>
  </div>
  <div class="pc-body">
    <div class="pcb-money">
      <div class="pcb-qian">
        银票<em>2,563,320</em>元
      </div>
      <a href="javascript:;;" class="pcb-jf">
        积分
        <em>420</em>
      </a>
    </div>
    <!-- 我的订单 -->
    <div class="pcb-orderbox">
      <%= tcm({str:'我的订单',more:false,num:false}) %>
      <div class="pcbo-section">
        <div>
          <p class="pcbo-big">5</p>
          <p>未完成</p>
        </div>
        <div>
          <p class="pcbo-big">21</p>
          <p>已完成</p>
        </div>
        <div>
          <p class="pcbo-big">0</p>
          <p>已撤销</p>
        </div>
      </div>
    </div>

    <!-- 功能列表 -->
    <div class="pcb-listbox">
      <a href="javascript:;;">
        <%= tcm({str:'我的订单',more:false,num:false}) %>
      </a>
      <a href="javascript:;;">
        <%= tcm({str:'企业认证',more:false,num:false}) %>
        <span class="pcb-rzstate">未认证</span>
      </a>
      <a href="javascript:;;">
        <%= tcm({str:'仓储管理',more:false,num:false}) %>
      </a>
      <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/htmanagement?id=1&enterpriseId=1">
        <%= tcm({str:'合同管理',more:false,num:false}) %>
      </a>
      <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/bargainingIndex?id=1&enterpriseId=1">
        <%= tcm({str:'议价管理',more:false,num:false}) %>
      </a>
      <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/consignee?id=1&enterpriseId=1">
        <%= tcm({str:'提货人管理',more:false,num:false}) %>
      </a>
      <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/dirver?id=1">
        <%= tcm({str:'司机管理',more:false,num:false}) %>
      </a>
      <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/addressee?id=1&enterpriseId=1">
        <%= tcm({str:'收件人管理',more:false,num:false}) %>
      </a>
      <a href="javascript:;;">
        <%= tcm({str:'发票管理',more:false,num:false}) %>
      </a>
    </div>

  </div>
</div>