<div class="negotiated">
  <ul class="n-headList">
    <li class="<%= num > 0 ? 'on': ''%> <%= num == 0? 'active': ''%>">
      <span>选择产品</span>
    </li>
    <li class="<%= num > 1 ? 'on': ''%> <%= num == 1? 'active': ''%>">
      <span>提交报价</span>
    </li>
    <li class="<%= num > 2 ? 'on': ''%> <%= num == 2? 'active': ''%>">
      <span>确认合同</span>
    </li>
    <li class="<%= num > 3 ? 'on': ''%> <%= num == 3? 'active': ''%>">
      <span>完成支付</span>
    </li>
    <li class="<%= num > 4 ? 'on': ''%> <%= num == 4? 'active': ''%>">
      <span>委托提货</span>
    </li>
  </ul>
</div>